<style>
    #container-heading {
        background: url('<%= imgHeading %>');
        background-size: cover;
        background-position-x: center;
        background-position-y: center;       /*move image up*/
        box-shadow: 0px 3px 18px rgba(201, 197, 197, 0.5);
        /*background-color: #dcdde1;*/
        height: 380px;
        width: 100%;
        position: relative;
        text-align: center;
    }

    @media only screen and (max-width: 768px) {
        #container-heading {
            height: 210px;
        }
    }

    #heading-text{
        color: white;
        position: relative;
        transform: translateY(-50%);
        top: 50%;
    }
</style>

<div id="container-heading">
    <h1 id="heading-text"><%= theHeading %></h1>
</div>