<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Not Found</title>
    <link rel="stylesheet" href="../bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../css/404.css">
    <link rel="stylesheet" href="../css/components.css">
</head>

<body>
    <section class="error_section bg-b">
        <p class="error_subtitle">Opps Page is not available !</p>
        <h1 class="error_title">
            <p>404</p>
            404
        </h1>
        <a href="/" class="btn">Back to home</a>
    </section>

    <script src="../bootstrap/bootstrap.min.js"></script>
    <script src="../bootstrap/jquery-3.2.1.slim.min.js"></script>
</body>

</html>
