<%- include("partials/header") -%>

<style>
    /*holds main content*/
    .myContent {
        padding: 50px 15%;
    }

    /* X-SMALL SCREENS */
    @media only screen and (max-width: 370px) {

        /*holds main content*/
        .myContent {
            padding: 50px 5%;
        }
    }
</style>

<div class="myContent contact">
    <h1>Compose</h1>

    <form action="/blogs/compose" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="blogTitle">Title</label>
            <input name="blogTitle" id="blogTitle" class="form-control" type="text" placeholder="Enter A Title" required
                data-error="Please enter your Email">
            <label for="blogBody" class="mt-20">Message</label>
            <textarea name="blogBody" id="blogBody" class="form-control" cols="30" rows="10"
                placeholder="Enter the Message" required data-error="Please enter your Email" class="col-12"></textarea>

            <!-- Upload an image -->
            <input name="blogImage" id="blogImage" class="form-control mt-10" type="file">

        </div>

        <button name="button" class="btn btn-primary" type="submit" value="publish">Publish</button>
    </form>
</div>

<%- include("partials/footer") -%>