<%- include("partials/header") -%>

<div class="myContent contact">
    <h1>Compose</h1>

    <form action="/blogs/compose" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="blogTitle">Title</label>
            <input name="blogTitle" id="blogTitle" class="form-control" type="text" placeholder="Enter text">
            <label for="blogBody" style="margin-top: 30px;">Message</label>
            <textarea name="blogBody" id="blogBody" class="form-control" cols="30" rows="10" placeholder="Message"
                class="col-12"></textarea>
            
                <!-- Upload an image -->
            <input name="blogImage" id="blogImage" class="form-control" type="file">

        </div>

        <button name="button" class="btn btn-primary" type="submit" value="publish">Publish</button>
    </form>
</div>

<%- include("partials/footer") -%>