<%- include("../partials/header") -%>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Awesome!</h1>
    <p class="lead">You are signup for my newsletter to get the latest content.</p>
  </div>
</div>

<%- include("../partials/footer") -%>